<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPzRTUSts2oAd0VB4aG14La09l5cWoaXc</string>
	<key>GCM_SENDER_ID</key>
	<string>410581225858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sellerplus</string>
	<key>PROJECT_ID</key>
	<string>sellerplus-15e34</string>
	<key>STORAGE_BUCKET</key>
	<string>sellerplus-15e34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410581225858:ios:bf8527abf2b4e049d3bf9b</string>
	<key>DATABASE_URL</key>
	<string>https://sellerplus-15e34-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>